<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Mini ERP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdLogin</display-name>
    <servlet-name>AdLogin</servlet-name>
    <servlet-class>AdLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdLogin</servlet-name>
    <url-pattern>/AdLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvManager</display-name>
    <servlet-name>InvManager</servlet-name>
    <servlet-class>InvManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvManager</servlet-name>
    <url-pattern>/InvManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Accountant</display-name>
    <servlet-name>Accountant</servlet-name>
    <servlet-class>Accountant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accountant</servlet-name>
    <url-pattern>/Accountant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sales</display-name>
    <servlet-name>Sales</servlet-name>
    <servlet-class>Sales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sales</servlet-name>
    <url-pattern>/Sales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Choice</display-name>
    <servlet-name>Choice</servlet-name>
    <servlet-class>Choice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Choice</servlet-name>
    <url-pattern>/Choice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegManager</display-name>
    <servlet-name>RegManager</servlet-name>
    <servlet-class>RegManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegManager</servlet-name>
    <url-pattern>/RegManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegAcc</display-name>
    <servlet-name>RegAcc</servlet-name>
    <servlet-class>RegAcc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegAcc</servlet-name>
    <url-pattern>/RegAcc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegSales</display-name>
    <servlet-name>RegSales</servlet-name>
    <servlet-class>RegSales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegSales</servlet-name>
    <url-pattern>/RegSales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Find</display-name>
    <servlet-name>Find</servlet-name>
    <servlet-class>Find</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Find</servlet-name>
    <url-pattern>/Find</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccChoice</display-name>
    <servlet-name>AccChoice</servlet-name>
    <servlet-class>AccChoice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccChoice</servlet-name>
    <url-pattern>/AccChoice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAcc</display-name>
    <servlet-name>AddAcc</servlet-name>
    <servlet-class>AddAcc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAcc</servlet-name>
    <url-pattern>/AddAcc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalesChoice</display-name>
    <servlet-name>SalesChoice</servlet-name>
    <servlet-class>SalesChoice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalesChoice</servlet-name>
    <url-pattern>/SalesChoice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addSales</display-name>
    <servlet-name>addSales</servlet-name>
    <servlet-class>addSales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addSales</servlet-name>
    <url-pattern>/addSales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSales1</display-name>
    <servlet-name>AddSales1</servlet-name>
    <servlet-class>AddSales1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSales1</servlet-name>
    <url-pattern>/AddSales1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateSlip</display-name>
    <servlet-name>GenerateSlip</servlet-name>
    <servlet-class>GenerateSlip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateSlip</servlet-name>
    <url-pattern>/GenerateSlip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateGST</display-name>
    <servlet-name>GenerateGST</servlet-name>
    <servlet-class>GenerateGST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateGST</servlet-name>
    <url-pattern>/GenerateGST</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GSTInvoice</display-name>
    <servlet-name>GSTInvoice</servlet-name>
    <servlet-class>GSTInvoice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GSTInvoice</servlet-name>
    <url-pattern>/GSTInvoice</url-pattern>
  </servlet-mapping>
</web-app>